In [1]:
import pandas as pd
data = pd.read_excel('Transactions01.xlsx')
data.fillna(0, inplace = True)

In [8]:
from mlxtend.frequent_patterns import fpgrowth
freq_items = fpgrowth(data, min_support = 0.04, use_colnames = True, max_len=3)
freq_items.tail(10)

C:\Users\Zanji\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                   itemsets
44      0.2        (wine, milk, vodka)
45      0.2   (chocolate, vodka, beer)
46      0.2        (milk, vodka, beer)
47      0.2   (milk, chocolate, vodka)
48      0.2        (diaper, ice cream)
49      0.2          (ice cream, beer)
50      0.2          (milk, ice cream)
51      0.2  (ice cream, diaper, beer)
52      0.2  (diaper, milk, ice cream)
53      0.2    (ice cream, milk, beer)

In [9]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(freq_items, metric = "lift", min_threshold = 1.5)
rules.to_excel('Transactions01.xlsx')
rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(diaper),(cheese),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
1,(cheese),(diaper),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
2,"(diaper, beer)",(cheese),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
3,"(cheese, beer)",(diaper),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
4,(diaper),"(cheese, beer)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
5,(cheese),"(diaper, beer)",0.4,0.6,0.4,1.000000,1.666667,0.16,inf
6,"(diaper, chocolate)",(cheese),0.4,0.4,0.4,1.000000,2.500000,0.24,inf
7,"(chocolate, cheese)",(diaper),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
8,(diaper),"(chocolate, cheese)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
9,(cheese),"(diaper, chocolate)",0.4,0.4,0.4,1.000000,2.500000,0.24,inf

In [10]:
rules.sort_values(by=['lift']).tail(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
34,(wine),"(milk, vodka)",0.2,0.2,0.2,1.0,5.0,0.16,inf
27,(vodka),"(wine, beer)",0.2,0.2,0.2,1.0,5.0,0.16,inf
28,"(wine, chocolate)",(vodka),0.2,0.2,0.2,1.0,5.0,0.16,inf
29,"(chocolate, vodka)",(wine),0.2,0.2,0.2,1.0,5.0,0.16,inf
30,(wine),"(chocolate, vodka)",0.2,0.2,0.2,1.0,5.0,0.16,inf
31,(vodka),"(wine, chocolate)",0.2,0.2,0.2,1.0,5.0,0.16,inf
32,"(wine, milk)",(vodka),0.2,0.2,0.2,1.0,5.0,0.16,inf
35,(vodka),"(wine, milk)",0.2,0.2,0.2,1.0,5.0,0.16,inf
33,"(milk, vodka)",(wine),0.2,0.2,0.2,1.0,5.0,0.16,inf
26,(wine),"(vodka, beer)",0.2,0.2,0.2,1.0,5.0,0.16,inf